@{
    Layout = null;
}
@model MessengerFrontend.Models.Users.UserChangePasswordModel

<div class="modal-header">
    <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<form asp-action="ChangePassword" asp-controller="Account" method="post">
<div class="modal-body">

        @Html.Hidden("Id", (object)ViewBag.CurrentUser.Id)
        <div class="form-outline mb-4">
            <input asp-for="OldPassword" type="password" class="form-control form-control-lg" />
            <label asp-for="OldPassword">Old Password</label>
        </div>

        <div class="form-outline mb-4">
            <input asp-for="NewPassword" type="password" class="form-control form-control-lg" />
            <label asp-for="NewPassword">New Password</label>
        </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Save changes</button>
</div>
</form>