
@{
    ViewData["Title"] = "Login";
}

<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Sign In</h2>

              <form>

                <div class="form-outline mb-4">
                  <input type="text" class="form-control form-control-lg" />
                  <label class="form-label">UserName</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" class="form-control form-control-lg" />
                  <label class="form-label">Password</label>
                </div>

                <div class="d-flex justify-content-center">
                  <input type="submit" class="btn btn-primary" value="Create account"/>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Not account yet? <a href="#!"
                    class="fw-bold text-body"><u>Sign Up here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

