@{
    Layout = null;
}
<div class="modal-header">
    <h5 class="modal-title" id="inviteFriendModalLabel">Create Chatroom</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form asp-controller="Chat" asp-action="CreateChat" method="post">

        <div class="form-outline mb-4">
            <label class="form-label">Topic</label>
            <input type="text" name="Topic" class="form-control form-control-lg" />
        </div>

        <div class="d-flex justify-content-center">
            <input type="submit" class="btn btn-primary" value="Create chatroom"/>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>