@{
    Layout = null;
}
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<div class="modal-header">
    <h5 class="modal-title" id="inviteFriendModalLabel">Edit Chatroom</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form asp-controller="Chat" asp-action="EditChat" method="post" enctype="multipart/form-data">

        @Html.Hidden("Id", (object)Model.Id)

        <div class="input-group mb-3 text-center d-flex flex-column align-items-center" id="editChatImageWrapper">
            <label class="input-group-text d-flex flex-column m-auto" for="editChatImage" style="width: 80%;">
                <img src="@(Configuration["Api"] + Model.Image.Path)" class="img-thumbnail rounded-circle flex-shrink-0" alt="image" 
                style="width: 180px; height: 180px; object-fit: cover;">
                Change Image
            </label>
            <input type="file" name="File" class="form-control" id="editChatImage" accept="image/*" style="width: 80%;">
        </div>

        <div class="form-outline mb-4">
            <label class="form-label">Topic</label>
            <input type="text" name="Topic" class="form-control form-control-lg" value="@Model.Topic"/>
        </div>

        <div class="d-flex justify-content-center">
            <input type="submit" class="btn btn-primary" value="Save changes"/>
        </div>

    </form>
    @Html.ActionLink("Delete Chatroom", "DeleteChat", "Chat", 
                                new {
                                    id = Model.Id
                                }, new Dictionary<string, object>{{"class", "btn btn-link text-danger" }})
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>