@{
    Layout = null;
}
<div class="messages-list">
    @foreach (var message in Model)
    {
        <div class="message @(message.User.Id != ViewBag.CurrentUserAccount.User.Id?"message-them":"message-me") ">
            <p class="from">@message.User.UserName</p>
            @if (message.Images is not null)
            {
                <div class="images">
                    @foreach (var image in message.Images)
                    {
                        <div class="image-item">
                            <img src="@("https://localhost:44309/Images/" + image.Path)" alt="">
                        </div>
                    }
                </div>
            }
            <p>@message.Text</p>
        </div>
    }
</div>
