@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="modal-header">
    <h5 class="modal-title" id="chatMembersModalLabel">Members</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="d-flex justify-content-between align-items-center border-top border-bottom p-1">
        <p class="m-0">
            User Name 1
        </p>
        <div>
            <button type="button" class="btn btn-success">Set Admin</button>
            <button type="button" class="btn btn-danger">Kick</button>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center border-top border-bottom p-1">
        <p class="m-0">
            User Name 2
        </p>
        <div>
            <button type="button" class="btn btn-success">Set Admin</button>
            <button type="button" class="btn btn-danger">Kick</button>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>